body {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
}

.header {
  text-align: center;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  padding: 6rem;
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.container > h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.blurred-text {
  color: transparent;
  text-shadow: 0 0 8px #000;
  cursor: pointer;
}